### Types of models to train

Your final submission should include single model. 
The model set you should try to come up with best model per type of model:
1. Identify best model from: Sklearn Logistic Regression - try all combinations of regularization

**Evaluation metric: AUCPR**

### Feature engineering

You should train/fit categorical features scalers and encoders on Train only. Use `transform` or equivalent function on Validation/Test datasets.

It is important to understand all the steps before model training, so that you can reliably replicate and test them to produce scoring function.


You should generate various new features. Examples of such features can be seen in the Module-3 lecture on GLMs.  
Your final model should have at least **10** new engineered features.   
On-hot-encoding, label encoding, and target encoding **is not included in the** **10** features to create.    
You can attempt target encoding, however the technique is not expected to produce improvement for Linear models.


**Note**: 
- It is OK to perform feature engineering using any technique, as long as you can replicate it correctly in the Scoring function.

### Threshold calculation

You will need to calculate optimal threshold for class assignment using F1 metric:
- If using sklearn, use F1 `macro`: `f1_score(y_true, y_pred, average='macro')` 
- If using H2O-3, use F1

You will need to find optimal probability threshold for class assignment, the threshold that maximizes above F1.

In [187]:
import pandas as pd
pd.set_option('display.max_columns', 1500)

import warnings
warnings.filterwarnings('ignore')

#Extend cell width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

# Loading the CSV file and dropping the index

In [188]:
df = pd.read_csv("D:/Work/Gre/UTD/Courses/Fall/MIS6341/Softwares/Python/ml-fall-2023/Project1/SBA_loans_project_1.csv")
df.drop(columns="index",inplace=True)

# Checking Null Values

In [189]:
df.isnull().sum()

City                   25
State                  12
Zip                     0
Bank                 1405
BankState            1411
NAICS                   0
NoEmp                   0
NewExist              128
CreateJob               0
RetainedJob             0
FranchiseCode           0
UrbanRural              0
RevLineCr            4094
LowDoc               2319
DisbursementGross       0
BalanceGross            0
GrAppv                  0
SBA_Appv                0
MIS_Status              0
dtype: int64

In [190]:
#show unique values in each column and its data type
for col in df.columns:
    print(f'{col} unique values are {df[col].unique()}')
    print("\n")
    print(f'{col} data type is {df[col].dtype}')

City unique values are ['GLEN BURNIE' 'WEST BEND' 'SAN DIEGO' ... 'Orange park' 'GREENHAVEN'
 'SCHAFFERSTOWN']


City data type is object
State unique values are ['MD' 'WI' 'CA' 'MA' 'MO' 'OH' 'IL' 'GA' 'MI' 'NY' 'SC' 'FL' 'KS' 'ID'
 'AZ' 'NH' 'NM' 'KY' 'NJ' 'TX' 'PA' 'MN' 'OK' 'OR' 'WA' 'IN' 'UT' 'AL'
 'MS' 'CO' 'NC' 'CT' 'ME' 'HI' 'LA' 'IA' 'MT' 'RI' 'WV' 'NV' 'AR' 'VA'
 'TN' 'ND' 'VT' 'WY' 'AK' 'SD' 'DE' 'NE' 'DC' nan]


State data type is object
Zip unique values are [21060 53095 92128 ... 32006 56038 14784]


Zip data type is int64
Bank unique values are ['BUSINESS FINANCE GROUP, INC.' 'JPMORGAN CHASE BANK NATL ASSOC'
 'UMPQUA BANK' ... 'WILSHIRE CREDIT CORP' 'NEVADA BANK & TRUST COMPANY'
 'FIRST COMMUN BK OF OZARKS']


Bank data type is object
BankState unique values are ['VA' 'IL' 'OR' 'MA' 'OH' 'CA' 'SD' 'CT' 'RI' 'SC' 'WI' 'GA' 'MI' 'AZ'
 'DE' 'NY' 'NM' 'KY' 'NC' 'NJ' 'MN' 'WA' 'UT' 'IN' 'AL' 'MS' 'TX' 'DC'
 'CO' 'ID' 'PA' 'NH' 'MO' 'MD' 'HI' 'TN' 'IA' 'FL' 'LA' 'MT' nan 'KS' 'WV'
 'NV' 'OK' 'NE' 'ME' 'ND' 'WY' 'AK' 'VT' 'AR' 'PR' 'GU' 'VI' 'EN']


BankState data type is object
NAICS unique values are [811111 722410      0 ... 927110 813211 336414]


NAICS data type is int64
NoEmp unique values are [   7   20    2    5    3    1   10    4   18    6   25   11   30   21
    9   35   15    8   32   38   17   34   51   12   60   16   43   65
   40  137   93  385   70   14   22   19   33   64   13  150   24   66
  205  130   45   84   26    0   49 1500   50   90   79   23   39  200
   68   28   55   46  318   53   75 2520   27   94  100   57   31   48
   44   86   67   54   47   81   29   42   63   80   36  360   52  160
   96   41  140  114   72  115  215   37   78  110  125  300  105  228
  123   58   82  240  138  500  134  131  350  120   89  210   62 1233
  107  113   59   85  118  225  117  400  135   97   69   76  346  185
  145  208  169  250  216   74  127  171   73  220  103  116  247   77
  139  180  159  325  104  330  175  112  165   95  217   61  423  163
 1200  128  270  151  170   83 4012  450  101   92  387   56  181  600
   71  106  193  102  207  505  162  158 1520  249   99   91  167  155
  420  173  302   88  133  146 4501  386  157  122  121  214  161  189
 1706  172  242 3737  176 1000  226  109  750 8000  344  142   87  136
  190  430  152 1300  182  299  275   98 1900  455  407 2725  149  141
  255  575  229  166 9999 5000  288  761 1718  221  433 3713  248  156
  191  369  384 2120  124  458  310  232  209  196  263  154  800  174
  290 5149  720  235 1800  227 3500 9000  277 2610  132  266  111  129
  144  316  230 1382  390  375  108  285 4000  498 1125  253  204  202
  241  195 1003  186  340  305  168  223  258  315 7241  840  363  717
  143  192  495  178  213  147  119  257  625 6000  365  177  278  356
 5084  370  320  404 2112 4953 1542  280  523 5812 1150  194 2500 9090
 5680  332  650  307 2510  184  148  126  260 2200  464  153 1280  525
  680 3000  218 2010  283  712 5013  274  306  254  197 3030 7000  183
  308  188  187  256  294  179  222 5947  535  355  396  317 1145  276
 2000  203  403  262 1711  480  348  850  296  376  199  466 8018  760
  900  268  246  282 1981  605  224  512 1005 1012  429  485 1451 3600
  442  585 1940  414 1020  353  550  343  212 1920  570  368 7212  544
 9992  602 1700 3732  244  336 7991  273  323  609  304 3170  237  530
  427  243  456 1515  267  700  383  521  405  234  985  271  604  515
  314  484  395  238  510 5211  828  425 6501  198 5921  476 1629  164
  261  413 1015  475 1100  322  298 3200  289  465  380  560 1073 1112
  460 7231  499  640 1440  408  259 7007 7216  339  293  608  520 4005
  782  540  324 1340  313  808  688 1550 2400 8500  342  576  206  463
  201  245  362  233 2151  319 1502 7538  265 2005  354  211 3100  424
  357 1980  780 1603  351 9945 2900  231  295  251  252 1400  713  328
 1250  301  284 8041  410 4800  823 7389 7111  341 2401 1600 2121  312
  329 1461 1644 7999 4100  479 2100  435  967  292  735  488  421 3900
 1010 2300  858  606  382 2202  394 1960  441  236  279  269  448  345
  287 4685  685 2020 2501  281 4658 2232  635 3009 5511  358 1050 1101
 3400 3089 4847  660  538 3334  309]


NoEmp data type is int64
NewExist unique values are [ 1.  2.  0. nan]


NewExist data type is float64
CreateJob unique values are [   6    0    2    1    4   15   20   12   14    3    8   38    5   45
   18    9   30   11    7   10   60   31   13   21   19   41   16   93
   24   40   25   72   22   55   50   33   85  100   17   65   27   23
   26   28   29   32   66 8800  200   47   49   35   34  150   75   53
  108  455   37   36   44  180   80   52  153   70   48   62   71   97
  300   74   54   39   57  452   95  310  140  450  600   69  123  386
   64  451  110  456   99   67  125   42   96  182   51   90   89  480
   56   46  433   58   92  250   59   79   61   98   68   73  167  106
   84  500  105 3500  454   43  457  270   82 1200 1229  124  195   88
  135   63  120  126  109  145  151  453  190  800 3100  252  198 1011
  130   76  134 5621   83  116  149   86  170 1000  144  226  152  102
  148  160  141  121  165   77  139  220  115  118 1711 1618  363   78
  179  114  175  136 1016   81   91  225  146   87  280 1100 3000 5199
  104  143  860  235  210  183  177  168  101  169  350  157  119  184
  103  155  158  137 1150  154  112  365  138  189 2515  400  129  303
 1027  174 1530  375  206  221  186   94 5085  397  255  122  264  256
  166  163  162 2020  569 2140  205  240  222  214]


CreateJob data type is int64
RetainedJob unique values are [   7    0    1   11    4   18    6   15    5   32    2   21    9    3
   25   20   34   35   51   12   30   16    8  137   19   28   40   10
   13  130   14   43   49   90  200   38   17   50   55   22   23   33
   45  100  252   75   27   24   26   42   86   67   84   81   44   60
   65   36   96   54   53   29  140   47   72   31 8800  300   80  119
   57  240  138   48   70  500   46  133  350   62  110   93   79   83
 4441   74  185   41   37  150   98   39  186   59   63   52  124   82
  155   73  127   71  154  390   58   77  141  170   85   94  114  450
   66   76  387   61  180  172   95  118  310   68  220  102  135   56
   92  225  120  400  175  125  189   69  192   64  176  105  104  107
  121  136   97  123  428  134  497   88  312  103  600   87  143  145
  165  251  101  156  109  160   78  232  112  675  122  270  167  275
  190  233  205  268  113  316  280  250  147  210   99  498  208  204
  202  128   91  360  223  363  195  315  375  162  235  278  356  129
  212  184  217  158   89 4000  207  177  116  245  523  194  115  216
  203 5000  370  132  187  290  199  226  148  274  215  393  117  131
  197  267  256  911 3225  178  142  535  750 1600  236  151  169  173
  403  320  144 1711  168  163  201  108  188  139  126  262  111  302
  219  260  106 3200  196  417  214  485  230  157  149  550  544  602
  153  146 1700  330  191  609  720  420  317  254  198  213  243  206
  277  171  285  263  484  355  430  237  182  286  322  371  298 2200
  183  152  940  259  257  292  325  161  540  221  475  342  362  404
  585 3100  304  610  266  305  159  265  231 1300 9500  328  410  297
  318  255  291  164  900  967  472  700 3900  384  229  448 3860  287
  685  166  281 1000  480 1111  476  660  548]


RetainedJob data type is int64
FranchiseCode unique values are [    1     0 22470 ... 63863 50078 10739]


FranchiseCode data type is int64
UrbanRural unique values are [1 0 2]


UrbanRural data type is int64
RevLineCr unique values are ['0' 'N' 'Y' 'T' nan '2' 'R' '.' '1' '`' '-' '7' 'A' 'Q' '5' 'C' '3']


RevLineCr data type is object
LowDoc unique values are ['N' 'Y' 'A' nan 'R' '0' 'S' 'C' '1']


LowDoc data type is object
DisbursementGross unique values are [743000. 137000. 280000. ... 295685. 117493.  14408.]


DisbursementGross data type is float64
BalanceGross unique values are [0.00000e+00 4.15090e+04 1.15820e+05 8.46170e+04 8.27875e+05 4.31270e+04
 9.11100e+03 3.95476e+05 1.76000e+03 6.00000e+02 2.50000e+04 3.71000e+04
 9.96262e+05]


BalanceGross data type is float64
GrAppv unique values are [743000. 137000. 280000. ... 315442. 120227. 157930.]


GrAppv data type is float64
SBA_Appv unique values are [743000. 109737. 210000. ... 283199. 108204. 118447.]


SBA_Appv data type is float64
MIS_Status unique values are [0 1]


MIS_Status data type is int64

# Removing extra variables
In RevLineCr, LowDoc, and NewExist

In [191]:
for i in df['RevLineCr']:
    if i not in ['Y','N']:
        df['RevLineCr'].replace(i,'N',inplace=True)
print("RevLineCr",df['RevLineCr'].unique())

for i in df['LowDoc']:
    if i not in ['Y','N']:
        df['LowDoc'].replace(i,'N',inplace=True)
print("LowDoc",df['LowDoc'].unique())

for i in df['NewExist']:
    if i not in [1,2]:
        df['NewExist'].replace(i,None,inplace=True)
print("NewExist",df['NewExist'].unique())

RevLineCr ['N' 'Y']
LowDoc ['N' 'Y']
NewExist [1.0 2.0 None]

In [192]:
df.isnull().sum()

City                   25
State                  12
Zip                     0
Bank                 1405
BankState            1411
NAICS                   0
NoEmp                   0
NewExist             1060
CreateJob               0
RetainedJob             0
FranchiseCode           0
UrbanRural              0
RevLineCr               0
LowDoc                  0
DisbursementGross       0
BalanceGross            0
GrAppv                  0
SBA_Appv                0
MIS_Status              0
dtype: int64

The dataset has a large number of missing values, as can be seen. We'll substitute the correct values for the missing ones. If the column is numeric, for instance, the column median will be used to fill in the missing numbers. In the event that the column is categorical, the mode of the column will be used to fill in the missing values.

# Filling Categorical Values
With the mode aggregation

In [193]:
category_cols=['City', 'State', 'Bank', 'BankState', 'RevLineCr', 'LowDoc','NewExist']
for column in category_cols:
  df[column]=df[column].fillna(df[column].mode()[0])

In [194]:
df.isnull().sum()

City                 0
State                0
Zip                  0
Bank                 0
BankState            0
NAICS                0
NoEmp                0
NewExist             0
CreateJob            0
RetainedJob          0
FranchiseCode        0
UrbanRural           0
RevLineCr            0
LowDoc               0
DisbursementGross    0
BalanceGross         0
GrAppv               0
SBA_Appv             0
MIS_Status           0
dtype: int64

In [195]:
df.head()
h2o_df = df.copy() # Keeping dataset handy for H2O-GLM Model

After the missing values have been restored, the dataset will be divided into training and testing datasets. Let's divide the dataset into 30% for testing and 70% for training. For repeatability, random state 123 is used.

In [196]:
from sklearn.model_selection import train_test_split

X_train,X_test = train_test_split(df,test_size=0.3,random_state=123)
X_train.shape, X_test.shape

((566472, 19), (242775, 19))

Training set has 566472 rows and testing set has 242775 samples

Target encoding is a data preprocessing technique used to convert categorical variables into numerical values that can be used by machine learning algorithms. It works by replacing each category with the average value of the target variable for that category. This can be helpful for algorithms that cannot handle categorical variables directly.

In this case the target variable is "MIS_Status"

In [197]:
# Target encoder
import category_encoders as ce
categorical_columns = ['City', 'State', 'Bank', 'BankState', 'RevLineCr', 'LowDoc','NewExist', 'UrbanRural']

encoder = ce.TargetEncoder(cols=categorical_columns)
encoder.fit(X_train, X_train['MIS_Status'])

train_encoded = encoder.transform(X_train)
test_encoded = encoder.transform(X_test)

# Renaming the columns
train_encoded.rename(columns={col: col + "_trg" if col in categorical_columns else col for col in train_encoded.columns}, inplace=False)
test_encoded.rename(columns={col: col + "_trg" if col in categorical_columns else col for col in test_encoded.columns}, inplace=False)

train_encoded.head()

,City,State,Zip,Bank,BankState,NAICS,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,MIS_Status
217613,0.114650,0.184773,93001,0.031447,0.218517,235910,56,0.17044,0,0,1,0.071674,0.15307,0.187063,305000.0,0.0,305000.0,244000.0,0
95730,0.137597,0.165992,44039,0.128698,0.159167,484121,0,0.17044,0,0,0,0.243491,0.15307,0.187063,24000.0,0.0,24000.0,12000.0,0
780446,0.139151,0.116799,68122,0.175694,0.159167,451120,20,0.17044,5,15,38510,0.243491,0.15307,0.187063,870400.0,0.0,974500.0,730875.0,0
337263,0.140704,0.197662,14208,0.118949,0.167297,321114,50,0.17044,0,0,1,0.071674,0.15307,0.187063,200000.0,0.0,200000.0,150000.0,0
199634,0.140354,0.144273,16335,0.193277,0.078307,0,19,0.17044,0,0,1,0.071674,0.15307,0.187063,370000.0,0.0,370000.0,296000.0,0

StandardScaler in scikit-learn is a preprocessing technique that centers and scales numerical features such that they have a mean of zero and a standard deviation of one.

We will make use of the StandardScaler, which is used to transform both the training and test data in the same way, ensuring that the features have the same mean and standard deviation in both datasets.

Here we will scale it on the training set and transform on both training and testing

In [198]:
from sklearn.preprocessing import StandardScaler
from copy import deepcopy

numerical_columns = [ 'NoEmp', 'CreateJob', 'RetainedJob', 'GrAppv', 'SBA_Appv', 'DisbursementGross', 'BalanceGross']
scaler = StandardScaler()
train_encoded[numerical_columns] = scaler.fit_transform(train_encoded[numerical_columns])
test_encoded[numerical_columns] = scaler.transform(test_encoded[numerical_columns])

train_encoded.head()

,City,State,Zip,Bank,BankState,NAICS,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,MIS_Status
217613,0.114650,0.184773,93001,0.031447,0.218517,235910,0.600407,0.17044,-0.035373,-0.045454,1,0.071674,0.15307,0.187063,0.358949,-0.002296,0.394801,0.410973,0
95730,0.137597,0.165992,44039,0.128698,0.159167,484121,-0.153600,0.17044,-0.035373,-0.045454,0,0.243491,0.15307,0.187063,-0.614207,-0.002296,-0.594552,-0.600302,0
780446,0.139151,0.116799,68122,0.175694,0.159167,451120,0.115688,0.17044,-0.013978,0.018584,38510,0.243491,0.15307,0.187063,2.317036,-0.002296,2.751996,2.533233,0
337263,0.140704,0.197662,14208,0.118949,0.167297,321114,0.519620,0.17044,-0.035373,-0.045454,1,0.071674,0.15307,0.187063,-0.004686,-0.002296,0.025114,0.001232,0
199634,0.140354,0.144273,16335,0.193277,0.078307,0,0.102223,0.17044,-0.035373,-0.045454,1,0.071674,0.15307,0.187063,0.584056,-0.002296,0.623655,0.637638,0

We have created Feature extraction by making use of old variables in the following way


(1) Log_Disbursement which gives the natural logarithmic form of DisbursementGross variable

(2) Log_GrAppv the logarithmic version of the approved loan amount by the bank

(3) Log_SBA_Appv, the logarithmic amount of the approved loan that will be assisted by SBA 

(4) Log_BalanceGross, is the logarithmic amount of total amount in an account or the total value of a financial asset or liability before any deductions or adjustments are made.

(5) TotalJobs variable which is an addition of Createjobs(New people recruited) and RetainedJob (workers working before)

(6) IncomeToLoan its values are calculated by dividing the 'DisbursementGross' column by the 'SBA_Appv' column for each corresponding row. This ratio can help you analyze the relationship between the amount disbursed and the approved SBA loan amount in terms of income.

(7)  EmployeesToLoanRatio, its values are calculated by dividing the 'NoEmp' column (number of employees) by the 'SBA_Appv' column (approved SBA loan amount) for each corresponding row. This ratio can help you analyze the relationship between the number of employees and the size of the SBA loan approved for each entry in the dataset.

(8) JobPerLoan, its values are calculated by dividing the 'TotalJobs' column (representing the total number of jobs) by the 'SBA_Appv' column (approved SBA loan amount) for each corresponding row. This ratio can help you analyze the impact of the SBA loan on job creation or support, expressed as the number of jobs per unit of loan amount approved.

(9) Gauren_SBA_Appv, Its values are calculated by dividing the 'GrAppv' column (gross amount approved by the lender) by the 'SBA_Appv' column (the approved SBA loan amount) for each corresponding row. This ratio helps you analyze the extent to which the SBA is guaranteeing the loan relative to the total loan amount approved by the lender.

(10) DefaultRate, Finally, we create a new feature 'DefaultRate' in the 'train_encoded' DataFrame and set its value to the calculated default rate for the particular group of loans based on the "MIS_Status" variable. This feature will represent the percentage of loans in the group that are classified as defaults.

In [199]:
# Adding Features
import numpy as np
# Apply the log transformation to the specific feature in your training data
#small_constant = 1e-10  # You can adjust this constant as needed
# df['LogColumn'] = np.log(df['OriginalColumn'] + small_constant)
train_encoded['Log_DisbursementGross'] = np.log1p(train_encoded['DisbursementGross'])
train_encoded['Log_GrAppv'] = np.log1p(train_encoded['GrAppv'])
train_encoded['Log_SBA_Appv'] = np.log1p(train_encoded['SBA_Appv'])
train_encoded['Log_BalanceGross'] = np.log1p(train_encoded['BalanceGross'])
train_encoded['TotalJobs'] = train_encoded['CreateJob'] + train_encoded['RetainedJob']
#train_encoded['Loan_Efficiency'] = train_encoded['DisbursementGross'] / (train_encoded['CreateJob'] + train_encoded['RetainedJob'] + 1)
# Calculate 'LoanToIncomeRatio' as a ratio of 'SBA_Appv' to 'DisbursementGross'
train_encoded['IncomeToLoanRatio'] = train_encoded['DisbursementGross'] / train_encoded['SBA_Appv']
# Calculate 'LoanToEmployeesRatio' as a ratio of 'SBA_Appv' to 'NoEmp'
train_encoded['EmployeesToLoanRatio'] = train_encoded['NoEmp'] / train_encoded['SBA_Appv']
# Create a binary feature to indicate loans with a balance ('BalanceGross' > 0)
#train_encoded['HasBalance'] = (train_encoded['BalanceGross'] > 0).astype(int)
# Calculate 'LoanPerJob' as a ratio of 'SBA_Appv' to 'TotalJobs'
train_encoded['JobPerLoan'] = train_encoded['TotalJobs'] / train_encoded['SBA_Appv'] 
# Calculate SBA's Gaurenteed Portion of Approved Loan
train_encoded['Gauren_SBA_Appv'] = train_encoded['GrAppv'] / train_encoded['SBA_Appv']
# Filter the DataFrame to include only the relevant rows
default_group = train_encoded[train_encoded['MIS_Status'].isin([0, 1])]
# Calculate the total number of loans in the filtered group
total_loans = len(default_group)
# Calculate the number of defaults (CHGOFF) in the filtered group
default_loans = len(default_group[default_group['MIS_Status'] == 1])
# Calculate the default rate as a percentage
default_rate = (default_loans / total_loans) * 100
# Create a new feature 'DefaultRate' with the calculated default rate
train_encoded['DefaultRate'] = default_rate

In [200]:
train_encoded.columns

Index(['City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS', 'NoEmp',
       'NewExist', 'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural',
       'RevLineCr', 'LowDoc', 'DisbursementGross', 'BalanceGross', 'GrAppv',
       'SBA_Appv', 'MIS_Status', 'Log_DisbursementGross', 'Log_GrAppv',
       'Log_SBA_Appv', 'Log_BalanceGross', 'TotalJobs', 'IncomeToLoanRatio',
       'EmployeesToLoanRatio', 'JobPerLoan', 'Gauren_SBA_Appv', 'DefaultRate'],
      dtype='object')

In [201]:
train_encoded.head()

,City,State,Zip,Bank,BankState,NAICS,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementGross,BalanceGross,GrAppv,SBA_Appv,MIS_Status,Log_DisbursementGross,Log_GrAppv,Log_SBA_Appv,Log_BalanceGross,TotalJobs,IncomeToLoanRatio,EmployeesToLoanRatio,JobPerLoan,Gauren_SBA_Appv,DefaultRate
217613,0.114650,0.184773,93001,0.031447,0.218517,235910,0.600407,0.17044,-0.035373,-0.045454,1,0.071674,0.15307,0.187063,0.358949,-0.002296,0.394801,0.410973,0,0.306712,0.332752,0.344279,-0.002298,-0.080828,0.873414,1.460941,-0.196674,0.960651,17.509603
95730,0.137597,0.165992,44039,0.128698,0.159167,484121,-0.153600,0.17044,-0.035373,-0.045454,0,0.243491,0.15307,0.187063,-0.614207,-0.002296,-0.594552,-0.600302,0,-0.952455,-0.902762,-0.917047,-0.002298,-0.080828,1.023163,0.255872,0.134645,0.990421,17.509603
780446,0.139151,0.116799,68122,0.175694,0.159167,451120,0.115688,0.17044,-0.013978,0.018584,38510,0.243491,0.15307,0.187063,2.317036,-0.002296,2.751996,2.533233,0,1.199072,1.322288,1.262213,-0.002298,0.004606,0.914656,0.045668,0.001818,1.086357,17.509603
337263,0.140704,0.197662,14208,0.118949,0.167297,321114,0.519620,0.17044,-0.035373,-0.045454,1,0.071674,0.15307,0.187063,-0.004686,-0.002296,0.025114,0.001232,0,-0.004697,0.024804,0.001231,-0.002298,-0.080828,-3.803563,421.786886,-65.609474,20.385638,17.509603
199634,0.140354,0.144273,16335,0.193277,0.078307,0,0.102223,0.17044,-0.035373,-0.045454,1,0.071674,0.15307,0.187063,0.584056,-0.002296,0.623655,0.637638,0,0.459989,0.484680,0.493255,-0.002298,-0.080828,0.915969,0.160316,-0.126761,0.978071,17.509603

In [202]:
print(train_encoded.head())
h2o_df = train_encoded.copy()
# Saving  as a h2o_df.csv which will be imported directly in h2O for training as all encoding, scaling and feature extraction has already been done during Scikit learn model
h2o_df.to_csv('D:/Work/Gre/UTD/Courses/Fall/MIS6341/Softwares/Python/ml-fall-2023/Project1/h2o_df.csv', index=False)

            City     State    Zip      Bank  BankState   NAICS     NoEmp  \
217613  0.114650  0.184773  93001  0.031447   0.218517  235910  0.600407
95730   0.137597  0.165992  44039  0.128698   0.159167  484121 -0.153600
780446  0.139151  0.116799  68122  0.175694   0.159167  451120  0.115688
337263  0.140704  0.197662  14208  0.118949   0.167297  321114  0.519620
199634  0.140354  0.144273  16335  0.193277   0.078307       0  0.102223

        NewExist  CreateJob  RetainedJob  FranchiseCode  UrbanRural  \
217613   0.17044  -0.035373    -0.045454              1    0.071674
95730    0.17044  -0.035373    -0.045454              0    0.243491
780446   0.17044  -0.013978     0.018584          38510    0.243491
337263   0.17044  -0.035373    -0.045454              1    0.071674
199634   0.17044  -0.035373    -0.045454              1    0.071674

        RevLineCr    LowDoc  DisbursementGross  BalanceGross    GrAppv  \
217613    0.15307  0.187063           0.358949     -0.002296  0.394801
95730     0.15307  0.187063          -0.614207     -0.002296 -0.594552
780446    0.15307  0.187063           2.317036     -0.002296  2.751996
337263    0.15307  0.187063          -0.004686     -0.002296  0.025114
199634    0.15307  0.187063           0.584056     -0.002296  0.623655

        SBA_Appv  MIS_Status  Log_DisbursementGross  Log_GrAppv  Log_SBA_Appv  \
217613  0.410973           0               0.306712    0.332752      0.344279
95730  -0.600302           0              -0.952455   -0.902762     -0.917047
780446  2.533233           0               1.199072    1.322288      1.262213
337263  0.001232           0              -0.004697    0.024804      0.001231
199634  0.637638           0               0.459989    0.484680      0.493255

        Log_BalanceGross  TotalJobs  IncomeToLoanRatio  EmployeesToLoanRatio  \
217613         -0.002298  -0.080828           0.873414              1.460941
95730          -0.002298  -0.080828           1.023163              0.255872
780446         -0.002298   0.004606           0.914656              0.045668
337263         -0.002298  -0.080828          -3.803563            421.786886
199634         -0.002298  -0.080828           0.915969              0.160316

        JobPerLoan  Gauren_SBA_Appv  DefaultRate
217613   -0.196674         0.960651    17.509603
95730     0.134645         0.990421    17.509603
780446    0.001818         1.086357    17.509603
337263  -65.609474        20.385638    17.509603
199634   -0.126761         0.978071    17.509603

In [203]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score

target_col = "MIS_Status"
cols_to_drop = ['City', 'State', 'Zip','Bank', 'BankState', 'LowDoc','RevLineCr','MIS_Status', 'index']
y = train_encoded[target_col]
X = train_encoded.drop(columns=[target_col])

param_grid = {'C':[10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                'penalty': ['l2', 'l1', 'elasticnet'],
                'solver': ['lbfgs'],
                 'l1_ratio': [0.1, 0.3, 0.7] # 'newton-cholesky', 'sag'
                }


clf = LogisticRegression(max_iter=1000, random_state=0, n_jobs=-1)
columns_to_train = [x for x in X.columns if x not in cols_to_drop]
print("Training on following columns:", columns_to_train)
clf.fit(X[columns_to_train], y)
grid1 = GridSearchCV(clf.fit(X[columns_to_train], y), 
                    param_grid, cv =7 , return_train_score= True)
grid1.fit(X[columns_to_train], y)
print("Best parameters found: ", grid1.best_params_)
print("Best cross-validation score: {:.2f}".format(grid1.best_score_))

Training on following columns: ['NAICS', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'DisbursementGross', 'BalanceGross', 'GrAppv', 'SBA_Appv', 'Log_DisbursementGross', 'Log_GrAppv', 'Log_SBA_Appv', 'Log_BalanceGross', 'TotalJobs', 'IncomeToLoanRatio', 'EmployeesToLoanRatio', 'JobPerLoan', 'Gauren_SBA_Appv', 'DefaultRate']
Best parameters found:  {'C': 10, 'l1_ratio': 0.1, 'penalty': 'l2', 'solver': 'lbfgs'}
Best cross-validation score: 0.82

Best Hyperparameters Found:

    'C': 10  
    In logistic regression, the parameter 'C' is the regularization strength or the inverse of the regularization parameter. It controls the trade-off between fitting the training data well and preventing overfitting.
A smaller 'C' value increases the regularization strength, leading to simpler models with smaller coefficients. This helps to prevent overfitting but may sacrifice some accuracy on the training data.
A larger 'C' value decreases the regularization strength, allowing the model to fit the training data more closely. However, this may lead to overfitting.


    'penalty': 'l2'
        L2 regularization is a type of regularization used in logistic regression. It adds a penalty term to the loss function, which encourages the model to keep all feature weights small.
    The penalty term is proportional to the square of the magnitude of feature coefficients. It helps prevent overfitting by reducing the influence of individual features in the model.
    L2 regularization is controlled by the 'C' parameter, with a smaller 'C' increasing the strength of regularization and leading to smaller feature coefficients.
    'solver': 'lbfgs'
    LBFGS is an optimization algorithm used for logistic regression and other machine learning models.
It's an iterative numerical optimization algorithm that finds the optimal values of the model parameters (coefficients) by minimizing the logistic regression loss function.
LBFGS is suitable for problems with a large number of features, and it efficiently approximates the Hessian matrix, which is used to update the model parameters.
It is one of the solvers available for logistic regression in scikit-learn and is known for its efficiency and effectiveness.

Best Cross-Validation Score:

    The best cross-validation score achieved by the model is 0.82.

In [204]:
import pickle

# Assuming you have a variable named 'best_params' containing the best hyperparameters
best_params = grid1.best_params_

with open('best_params.pkl', 'wb') as f:
    pickle.dump(best_params, f)

In [205]:
from sklearn.metrics import f1_score
import numpy as np

def calculate_optimal_threshold(classifier, X, y):
    # Predict probabilities
    y_prob = classifier.predict_proba(X)[:, 1]
    
    # Generate a range of thresholds
    thresholds = np.linspace(0, 1, 100)
    
    # Compute F1 scores for different thresholds
    f1_scores = [f1_score(y, (y_prob > threshold).astype(int), average='macro') for threshold in thresholds]
    
    # Find the optimal threshold with the highest F1 score
    optimal_threshold = thresholds[np.argmax(f1_scores)]
    
    return optimal_threshold